
# WordPress Core Files
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# WordPress Configuration
wp-config.php
/.htaccess

# Example Themes & Plugins
/wp-content/themes/twenty*/
/wp-content/plugins/hello.php
/wp-content/index.php
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/languages

# Uploads, Cache, Upgrade
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/plugins
/wp-content/themes

# Log Files
*.log

# System & Environment Files
.DS_Store
.env
node_modules/
vendor/

# Docker Volumes & Data
db_data/

# Plugins & Themes (uncomment to whitelist)
# /wp-content/plugins
# /wp-content/themes